<div id="ytubeCarousel"  class="carousel-ytube carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner inner-ytube">
        <div class="carousel-item item-ytube d-flex justify-content-center  active" >
            <div class="card">
                <div class="card-body">
                    <div class="youtube" id="hwT8fyB7pgM" style="width:233px; height:310px;"></div>
                </div>
            </div>
        </div>
        <div class="carousel-item item-ytube d-flex justify-content-center  align-items-center" >
            <div class="card" >
                <div class="card-body">
                    <div class="youtube" id="H64EEzRO1CU" style="width:233px; height:310px;"></div>
                </div>
            </div>
        </div>
        <div class="carousel-item item-ytube d-flex justify-content-center " >
            <div class="card">
                <div class="card-body">
                    <div class="youtube" id="uBsuCrWDX1Y" style="width:233px; height:310px;"></div>
                </div>
            </div>
        </div>
        <div class="carousel-item item-ytube d-flex justify-content-center " >
            <div class="card">
                <div class="card-body">
                    <div class="youtube" id="h4-i0QMxIfI" style="width:233px; height:310px;"></div>
                </div>
            </div>
        </div>
        <div class="carousel-item item-ytube d-flex justify-content-center " >
            <div class="card">
                <div class="card-body">
                    <div class="youtube" id="JHgGrUZLyqA" style="width:233px; height:310px;"></div>
                </div>
            </div>
        </div>
        <div class="carousel-item item-ytube d-flex justify-content-center " >
            <div class="card">
                <div class="card-body ">
                    <div class="youtube" id="pwd1Qulgr2k" style="width:233px; height:310px;"></div>
                </div>
            </div>
        </div>
    </div>
    <button id="prev-ytube" class="carousel-control-prev" type="button" data-bs-target="#ytubeCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button id="next-ytube"  class="carousel-control-next" type="button" data-bs-target="#ytubeCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>