{% extends 'base.html' %}
{% block title %}

{% endblock %}

{% block content %}
<section class="section__catalog">
    <div class="container">
  <!--TITLE  START-->
        <div class="row d-flex justify-content-start">
            <div class="col-10 my-3 title_page offset-lg-1 align-items-center">
                <h1 style="float:left;">Каталог вакансий
                </h1>
                <h2  style="float:right;">{{title}}
                </h2>
            </div>
        </div>
<!--TITLE  END-->

        <div class="row d-flex justify-content-center">
            <div class="d-lg-block  col-lg-4 col-md-5 col-12">
                <form method="get" action="" style="background-color:var(--four-color)"
                      class="d-lg-flex  card card__mine card_vacancy m-1">
                    <div class="card-body mb-2">
                        <div id="error"></div>
                        <div class="input-group flex-nowrap">
                            <input style="border: 3px solid var(--one-color);"
                                   type="text"
                                   class="card__mine form-control form-control-lg"
                                   name="search"
                                   id="search_input"
                                   value="{% if request.query_params.get('search') %}{{ request.query_params.get('search')}} {% endif %}"
                                   aria-describedby="addon-wrapping"
                                   placeholder="поиск ...">
                            <span onclick="cleanSearch()" class="input-group-text btn__catalog__clean__search">
                            <input type="button" class="btn_empty"
                                   value="&#10006;"/>
                            </span>
                        </div>
                        <div class="mt-3 d-grid gap-2">
                            <button type="submit"
                                    id="search_submit"
                                    class="btn btn__mine btn__color btn-lg  px-5">поиск
                            </button>
                        </div>
                    </div>
                    <div class="text-center d-grid gap-2 mt-2">
                        <span id="show_filter"  class="btn__mine  text-dark mb-2"
                              onclick="filterBord()">Показать фильтр&emsp;&#9660;
                        </span>
                        <span id="hide_filter" style="display:none;"  class=" btn__mine  text-dark   mb-2"
                          onclick="filterBord()">Скрыть фильтр&emsp;&#9650;
                        </span>
                    </div>
                    <div id="filter">
                        <div class="card-body filter__bar ">
                            <h5 class="card-title card__vacancy__h">Фильтр</h5>
                            <h6 class="card-title  search__string"></h6>
                            <div class="list-group" id="title">
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title card__vacancy__h">тип занятости</h5>
                            <div class="list-group">
                                {% for ind, obj in types.items() %}
                                <div class="form-check">
                                    <input class="form-check-input" name='types' type="checkbox" value="{{obj}}"
                                           id="types_{{ind}}">
                                    <label class="form-check-label" for="types_{{ind}}"> {{ obj }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title card__vacancy__h">режим работы</h5>
                            <div class="list-group">
                                {% for ind, obj in schedule_dict.items() %}
                                <div class="form-check">
                                    <input class="form-check-input" name='schedule' type="checkbox" value="{{obj}}"
                                           id="cat_{{ind}}">
                                    <label class="form-check-label" for="cat_{{ind}}"> {{ obj }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title card__vacancy__h">опыт работы</h5>
                            <div class="list-group"  id="group">
                                {% for ind, obj in experience_dict.items() %}
                                <div class="form-check">
                                    <input class="form-check-input" name='experience' type="checkbox"
                                           value="{{obj}}" id="ex_{{ind}}">
                                    <label class="form-check-label" for="ex_{{ind}}"> {{ obj }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-body">
                        </div>
                    </div>
                </form>
            </div>
            <div id="vacancies" class="col-lg-7 col-md-6 col-12">
                <div class="col-12">
                    {% for obj in vacancies %}
                    <div class="card  card__mine card_vacancy  m-1 mb-2">
                        <div class="card-body row">
                            <div class="col-6">
                                <h6>{{ obj.salary }}
                                </h6>
                            </div>
                            <div class="col-6"><h5 class="card-title" style="float:right;">
                                <a class="catalog__link" href="{{ url_for('vacancy', slug=obj.slug)}}">
                                    {{ obj.vacancy }}
                                </a>
                            </h5>
                            </div>

                        </div>
                        <div class="card-body">
                            <h6>график работы&nbsp;&nbsp;<span style="float:right;">{{obj.schedule}}
                            </span></h6>
                            <h6 class="text-muted">тип занятости&nbsp;&nbsp;<span style="float:right;">{{ obj.types }}
                            </span></h6>
                            <h6 class="text-muted">опыт&nbsp;&nbsp;<span style="float:right;">{{obj.experience}}
                            </span></h6>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}