{% extends 'base.html' %}
{% block title %}
Работа Омск
{% endblock %}

{% block content %}
<section class="section__search ">
    <form class="row g-4 d-flex justify-content-center " action="{{ url_for('catalog')}}" method="GET">
        <div class="col-lg-6 offset-lg-2  col-md-6 offset-md-2 col-8">
            <label for="search_box" class="visually-hidden">поиск</label>
            <input style="border: 3px solid var(--one-color); margin-left:20px;"
                   type="text" class="form-control form-control-lg"
                   name="search" id="search_box" value=""
                   placeholder="поиск вакансии в Омске">
            <div id="search_advice_wrapper"></div>
        </div>
        <div class="col-lg-4 col-4">
            <button type="submit" style=" margin-left:20px;padding: 10px 25px;" class="btn btn-lg btn__mine btn__color">
                <i style="float:left" class="fa fa-search"></i>
            </button>
        </div>
    </form>

</section>

<section class="section__main" style="background-color:var(--two-color)">
    <div class="container">
        <div class="row mb-lg-5 mb-2 d-flex justify-content-evenly">
            <div class="mb-2 col-lg-7  col-md-6 col-12">
                <div class="card card__mine" style="width:100%; background-color:var(--one-color)">
                    <div class="card-body">
                        <h5 class="card-title" style="float:left;">Свежие вакансии</h5>
                        <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for k, v in vacancies.items() %}
                        <li class="list-group-item">
                            <a href="{{ url_for('vacancy', slug=v.slug) }}"
                               style="color:var(--three-color);float:left; text-decoration-line: none;">{{ v.vacancy
                                }}</a>
                            <span style="float:right;">{{ v.salary }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="card-body">
                        <a href="{{ url_for('catalog')}}" class="card-link link-dark" style=" float:right;">
                            просмотреть весь список ...
                        </a>
                    </div>
                </div>
            </div>
            <!--    carousel    -->
            <div class="col-lg-4 col-md-6 col-12 mb-2  carousel" id="www" data-bs-ride="carousel">
                <div class="carousel-inner card__carousel align-items-center"
                     id="www-inner">
                    {% for k, v in vacancies.items() %}
                    <div class="carousel-item carousel-item-mini {% if loop.first %}active{% endif %}">
                        <div class="card  card__slider" style="color:#fff;{% if loop.index is divisibleby 2 %}background-color:var(--three-color){% else %}background-color:var(--four-color){% endif %}" >
                            <div class="card-body d-flex  justify-content-end align-items-start">
                                <a href="{{ url_for('vacancy', slug=v.slug) }}"
                                   style="{% if loop.index is divisibleby 2 %}color:var(--two-color){% else %}color:var(--three-color){% endif %}; text-align:end; text-decoration-line: none;">
                                    <h2 class="card-title  fw-bold text-end">{{ v.vacancy }}</h2>
                                </a>
                            </div>
                            <div class="card-body d-flex  justify-content-start align-items-end">
                                <h3 class="{% if loop.index is divisibleby 2 %}text-warning{% else %}text-success{% endif %} fw-bold">{{ v.salary }}
                                </h3>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" id="www-prev"
                        type="button"
                        data-bs-target="#www"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" id="www-next"
                        type="button"
                        data-bs-target="#www"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!--    carousel    -->
        </div>
    </div>
</section>

<section class="section__main" style="background-color:transparent">
    <div class="container-fluid">
        <div class="row mb-lg-5 mx-lg-5 mb-2 d-flex justify-content-center">
            {% include 'carousel.html' %}
        </div>
    </div>
</section>
<section class="section__main" style="background-color:var(--two-color)">
    <div class="container">
        <div class="row mb-lg-5 mb-2 d-flex justify-content-evenly">
            <div class="col-lg-4  col-md-6 col-12">
                <div class="card  card__mine m-1" style="color:#fff; width:100%;background-color:var(--three-color)">
                    <div class="card-body">
                        <h5 class="card-title" style="float:left;">по типу занятости</h5>
                        <p class="card-text"></p>
                    </div>
                    <ul class="list-group">

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            вакансии недели
                            <span class="badge bg-secondary rounded-pill">14</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            подработка
                            <span class="badge bg-secondary rounded-pill">14</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            удаленная
                            <span class="badge bg-secondary rounded-pill">14</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            для студентов и школьников
                            <span class="badge bg-secondary rounded-pill">14</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            работа для из декрета
                            <span class="badge bg-secondary rounded-pill">14</span>
                        </li>
                    </ul>
                    <div class="card-body">
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-lg-7  col-md-6 col-12">
                <div class="card card__mine m-1" style="color:#fff; width:100%;background-color:var(--one-color)">
                    <div class="card-body">
                        <h5 class="card-title" style="float:left;">по специализации</h5>
                        <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for cat in categories.values() %}
                        {%for key, value in cat.items()%}
                        <li class="list-group-item d-flex justify-content-between align-items-center">{{ key }}
                            <span class="badge bg-warning rounded-pill">14
                        </span>
                        </li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                    <div class="card-body">
                        <a href="/categories" class="card-link link-dark" style="float:right;">просмотреть весь
                            список
                            ...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}