{% extends 'base.html' %}
{% block title %}

{% endblock %}

{% block content %}
<section style="width:100%;background-color:var(--two-color);padding-bottom:40px;padding-top:40px;">

    <div class="container">
        <div class="row">
            <div class="col-12 my-3">
                 <h1>{{ vacancy.vacancy }}</h1>
            </div>
        </div>

        <div class="row d-flex justify-content-evenly">
            <div class="col-lg-4 col-12">
                <div class="card card__mine card_vacancy  m-1">
                    <div class="card-body ">
                        <h2 class="card-title ">{{ vacancy.title }}</h2>
                        <span class="text-muted">{{ vacancy.employer }}</span>
                    </div>
                    {% if vacancy.salary  %}
                    <div class="card-body " style="float:left;">
                         <span>зарплата</span><h4>{{ vacancy.salary }}</h4>
                    </div>
                    {% endif %}
                    {% if vacancy.experience %}
                    <div class="card-body " style="float:left;">
                        <span>опыт работы</span><h4>{{ vacancy.experience }}</h4>
                    </div>
                    {% endif %}
                    {% if vacancy.types %}
                    <div class="card-body " style="float:left;">
                        <span>график</span><h4>{{ vacancy.types }}</h4>
                    </div>
                    {% endif %}
                     {% if vacancy.schedule %}
                    <div class="card-body " style="float:left;">
                        <span>график</span><h4>{{ vacancy.schedule }}</h4>
                    </div>
                    {% endif %}

                </div>

            </div>
            <div class="col-lg-8 col-12">
                <div class="col-12">
                    {% if vacancy.description %}
                    <div class="card  card__mine card_vacancy card__carousel m-1">
                        <div class="card-body">
                            <h2 class="card-title card__vacancy__h" style="float:left;">Описание</h2>
                        </div>
                        <div class="card-body">
                            <p class="card-text"> {{ vacancy.description }}</p>

                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-12">
                    {% if vacancy.requirements or vacancy.responsibility %}
                    <div class="card  card__mine card_vacancy m-1">
                        {% if vacancy.requirements %}
                            <div class="card-body">
                            <h2 class="card-title card__vacancy__h">требования</h2>
                            <ul class="list-group">
                                {% for adv in vacancy.requirements %}
                                <li class="list-group-item">&nbsp;-&nbsp;{{ adv }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        {% if vacancy.responsibility %}
                            <div class="card-body">
                            <h2 class="card-title card__vacancy__h">обязанности</h2>
                            <ul class="list-group">
                                {% for adv in vacancy.responsibility %}
                                <li class="list-group-item">&nbsp;-&nbsp;{{ adv }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                            <div class="card-body"></div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                <div class="col-12">
                    {% if vacancy.requirements %}
                    <div class="card  card__mine card_vacancy m-1">
                        <div class="card-body">
                            <h2 class="card-title card__vacancy__h">преимущества</h2>
                            <ul class="list-group">
                                {% for adv in vacancy.advantages %}
                                <li class="list-group-item">&nbsp;-&nbsp;{{ adv }}</li>
                                {% endfor %}
                            </ul>

                        </div>
                        <div class="card-body"></div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-12">
                    {% if vacancy.contacts %}
                    <div class="card  card__mine card_vacancy m-1">
                        <div class="card-body">
                            <h2 class="card-title card__vacancy__h">контакты</h2>
                            <div class="list-group">
                                {% for obj in vacancy.contacts %}
                                <p>&nbsp;&nbsp;{{ obj }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-body"></div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}